@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #4169e1;
  --boxWhite: #fff;
  --boxBlack: #101010;
  --boxDarkGray: rgb(30, 30, 30);
  --fontFamily: "Open Sans", sans-serif;
}

body {
  width: 90vw;
  height: auto;

  background-color: var(--primaryColor);
  margin: 0 auto;
}

/*  Barra de Navegación ------------------ */

nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--boxBlack);
  margin-bottom: 20px;
  font-family: var(--fontFamily);

  border-radius: 0 0 10px 10px;
}

nav h1 {
  text-transform: uppercase;
  margin-left: 10px;
  color: var(--boxWhite);
  font-size: clamp(0.8rem, 2vw, 3rem);
}

nav button {
  width: auto;
  height: 35px;

  border: none;
  background-color: transparent;

  border-radius: 15px;
  color: var(--boxWhite);
  font-family: var(--fontFamily);
  transition: 0.3s;

  padding: 0 5px;

  cursor: pointer;
}

nav button:hover {
  background-color: var(--primaryColor);
  color: var(--boxWhite);
}

nav button:nth-child(2) {
  margin-right: 10px;
}

/*  Contenido Principal ------------------ */

main {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-areas:
    "carrusel carrusel carrusel"
    "servicios servicios servicios"
    "slogan slogan slogan"
    "products products products"
    "testimonial testimonial testimonial"
    "gamingPc gamingPc gamingPc"
    "map map map"
    "form form form"
    "footer footer footer";

  gap: 20px;
}

/*  Carrousel Img ------------------ */

.carrousel {
  position: relative;

  width: 80vw;
  height: 250px;

  margin: 10px auto;
  grid-area: carrusel;

  z-index: 2;
  border-radius: 10px;
  animation: carrousel 5s linear infinite;
}

@keyframes carrousel {
  0% {
    background-image: url(./img/pc.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  25% {
    background-image: url(./img/pc-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  50% {
    background-image: url(./img/pc-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  75% {
    background-image: url(./img/pc-4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  100% {
    background-image: url(./img/pc-5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/*  Servicios ------------------ */

.services {
  position: relative;
  width: 90vw;
  height: 650px;
  bottom: 150px;
  background-color: var(--boxBlack);

  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 25px;

  grid-area: servicios;

  margin-bottom: -140px;
  border-radius: 10px;
}

.service--item {
  width: 20%;
  height: 320px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 100px;
  border-radius: 10px;
}
.item-1,
.item-2,
.item-3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}
.item-1 {
  background-image: url(./img/Service.jpg);
}
.item-2 {
  background-image: url(./img/products.jpg);
}
.item-3 {
  background-image: url(./img/asesoria.jpg);
}
.service--item button {
  background-color: transparent;
  border: none;
  color: white;

  padding: 10px 15px;
  border-radius: 5px;
  font-family: var(--fontFamily);

  font-size: clamp(0.5rem, 2vw, 1.4rem);

  cursor: pointer;
  transition: 0.3s;
}

.service--item button:hover {
  background-color: var(--primaryColor);
  color: var(--boxWhite);
}

/*  Slogan ------------------ */

.slogan {
  width: 90vw;
  height: 345px;

  background-image: url(./img/slogan.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 10px;
  grid-area: slogan;
}

.slogan--container {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.slogan--container h2 {
  font-family: var(--fontFamily);
  font-size: clamp(2rem, 5vw, 5rem);
  color: white;
}

/*  Productos ------------------ */

.products {
  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: repeat(3, auto);

  grid-area: products;
  gap: 20px;
}

.products .item {
  width: 100%;
  height: 300px;

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;

  background-color: var(--boxBlack);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;
}

.item button {
  position: absolute;

  bottom: 15px;
  border: none;
  background-color: transparent;

  cursor: pointer;
}

.item img {
  width: clamp(250px, 35%, 300px);
  height: auto;
}

.fa-solid {
  font-size: 2rem;
  color: white;

  transition: 0.2s;
}

.fa-solid:hover {
  color: var(--primaryColor);
}

/*  Testimonios ------------------ */

.testimonial {
  width: 90vw;
  height: auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  padding: 20px;

  background-color: rgb(30, 30, 30);
  font-family: var(--fontFamily);
  color: white;

  border-radius: 10px;

  grid-area: testimonial;
}

.testimonial .box {
  padding: 20px;
  margin: 0 20px;

  transition: 0.5s;
}

.box {
  font-size: clamp(0.8rem, 0.5vw, 2rem);
}

.box:hover {
  background-color: var(--boxBlack);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  border-radius: 10px;
}
.box--user {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;
}

.box--user img {
  width: 70px;
  height: auto;

  border-radius: 50%;
}
.testimonial p {
  margin-top: 20px;
  text-align: justify;
}

/* Pc Gamers ---------------- */

.gamingPc {
  width: 90vw;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--boxBlack);
  color: white;

  gap: 20px;
  grid-area: gamingPc;
  border-radius: 20px;
}

.pc {
  width: 90%;
  height: 300px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: clamp(0.8rem, 0.5vw, 2rem);

  /* padding: 20px; */

  font-family: var(--fontFamily);
}
.pc:nth-child(1) {
  margin-top: 40px;
}
.pc:nth-child(3) {
  margin-bottom: 40px;
}

.pc-specs {
  width: 70%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;

  border-radius: 10px 0 0 10px;
  background-color: var(--boxDarkGray);
  padding: 20px;

  color: white;
}

.pc-specs h3 {
  font-size: clamp(1rem, 2vw, 1.5rem);
}

.pc-specs p {
  font-size: clamp(0.7rem, 1.5vw, 1.2rem);
}

.pc-edit {
  border-radius: 0 10px 10px 0;
}

.pc--title-1,
.pc--title-3 {
  width: clamp(110px, 130px, 200px);
  position: absolute;

  text-align: center;
  left: 10px;
  bottom: 10px;
}

.pc--title-2 {
  width: clamp(110px, 130px, 200px);

  position: absolute;

  text-align: center;
  right: 10px;
  bottom: 10px;
}

.pc-img {
  width: 30%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fff;

  border-radius: 0 10px 10px 0;
}
.pc-img img {
  width: clamp(210px, 300px, 60%);
  /* width: clamp(200px, 50%, 350px); */
}

.edit {
  border-radius: 10px 0 0 10px;
}

/* Map ------------------- */

.map {
  width: 90vw;
  height: 100%;

  grid-area: map;
}

.map iframe {
  width: 100%;
  height: 600px;

  border: none;

  border-radius: 20px;
}

/* formulario */

.formulario {
  width: 90vw;
  height: 320px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(./img/Laptop-edit.png);
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 20px;
  grid-area: form;

  color: white;
  font-family: var(--fontFamily);
}

.form--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: clamp(0.8rem, 2vw, 1.2rem);

  text-align: center;

  gap: 30px;
}

form {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;
}

form input {
  padding: 1vw 2vw;
  border: none;
}

form button {
  width: clamp(80px, 50%, 160px);
  height: clamp(40px, 3.5rem, 4vw);
  background-color: var(--primaryColor);
  color: var(--boxWhite);

  font-size: 1.2rem;
  /* padding: 20px 30px; */
  border-radius: 50px;
  border: none;

  transition: 1s;
}

form button:hover {
  opacity: 0.6;
}

/* Footer ------------------ */

footer {
  width: 90vw;
  height: 400px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: var(--boxBlack);

  grid-area: footer;
}
.logos {
  width: 100%;
  text-align: center;
}

.logos img {
  width: clamp(10px, 40%, 40px);
  height: auto;
  /* margin: 0 10px; */
}

footer {
  border-radius: 20px 20px 0 0;
}

footer img {
  width: clamp(350px, 50%, 600px);
}

footer p {
  font-size: clamp(0.8rem, 2vw, 1.2rem);
  color: white;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-areas:
      "carrusel"
      "servicios"
      "slogan"
      "products"
      "testimonial"
      "gamingPc"
      "map"
      "form"
      "footer";
  }
  nav {
    justify-content: center;
  }
  nav button {
    width: 90px;
  }
  nav h1 {
    display: none;
  }

  .item-2 button,
  .item-3 button {
    color: white;
  }

  .carrousel {
    height: 100px;
  }

  /* Testomonials */

  .testimonial {
    flex-direction: column;
    height: auto;
  }

  /* Gaming */

  .pc-specs {
    width: 100%;
  }

  .pc-img {
    width: 100%;
    flex-direction: column;
  }

  /* Form */

  form {
    flex-direction: column;
  }

  .item-1 button {
    color: black;
  }
}
